
body{								/*Background et général body*/
	text-align: center;
	color:#230903;
	background-color:#D29181;
}
h1{									/*Catégorie h1*/
	color:black;
	font-family: Roboto
	font-style:italic

}									/*Design de la photo de profil*/
.image-circle{
	height: 400px;
	border-radius: 50%;
}
h2{									/*Catégorie h2*/
	font-family:Lato;
	text-align: center;
}

h3{
	font-size: 26px;
	font-family:Lora;
	color:#7A5B4C;
}
a{
	color:black;
	font-size:100px;
	transition:1s;
}
a:hover{
	color:#7A5B4C;
	transition:1s;
}

.container .card-white{
  	background:white;
  	padding:15px 15px;
  	margin:100px 300px;
  	box-shadow:0px 10px 30px rgba(0,0,0,1);
  	border-radius: 10px;
}
.list-inline{
	list-style: none;
	padding-left: 0px
}
.list-inline li{
	display:inline;
	padding: 10px;

}
.list-inline i{
	
}
#ieseg{
	margin:30px 300px;
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
